@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    --font-family: "Lato", sans-serif;
    --second-family: "Playfair Display", sans-serif;

    --main-color: #ffffff;
    --second-color: #000000;
    --third-color: #f2c03f;

    --main-gradient: linear-gradient(152deg, rgba(101, 78, 163, 0.87) 24.86%, rgba(95, 75, 139, 0.87) 100%);
}

body {
    font-family: var(--font-family);
    background: var(--main-gradient);
    font-size: 1.125em;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 93.75%;
    margin: 0 auto 0 40px;
    align-items: center;
    min-height: 72px;
    height: 145px;
}
.header__logo {
    z-index: 1;
    background-color: var(--main-color);
    height: 100%;
}
.header__logo img {
    padding: 51px 40px;
}
.header__nav {
    
}
.menu__wrap {
    display: flex;
    justify-content: space-between;
    gap: 6.354vw;
}
.menu__toggler {
    display: none;
}

.nav {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3.583em;
}
.uppercase {
    text-transform: uppercase;
}
.current-page {
    position: relative;
}
.current-page::after {
    content: '';

    height: 0.889em;
    width: 6.667em;

    position: absolute;
    z-index: -1;

    top: 0.556em;
    left: -0.95em;

    background-color: var(--third-color);
    opacity: 0.75;
}

.button {
    opacity: 0.64;
    background-color: transparent;
    color: white;
}

.lang-switch__button {
    display: flex;
    align-items: center;
    gap: 4px;
}
.language-btn {
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
}
.language-btn:last-child {
    border-bottom: none;
}

.dropdown {
    width: fit-content;
    position: relative;
    font-size: 1em;
}
.dropdown__menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;

    background-color: #fff;
    border-radius: 0.25rem;

    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, .1);

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms  ease-in-out, transform 150ms ease-in-out, all 0.3s ease 0s;
    pointer-events: none;

    z-index: 9;
}
.dropdown.active > button + .dropdown__menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.language-btn {
    display: flex;
    align-items: center;

    background-color: transparent;
    margin: 16px 13px 16px 16px;
}
.current-language::after {
    content: '';
    background-image: url('/Main/img/icons/checkmark.svg');
    width: 12px;
    height: 9px;

    margin-left: 12px;
}
.lang-switch__line {
    height: 1px;
    background-color: rgb(48, 48, 48, 0.1);
}
.language-btn:not(.language-btn.current-language) {
    margin-right: 0px;
}
.language-btn__flag svg {
    vertical-align: middle;
    text-align: center;
}
.language-btn__text {
    margin-left: 8px;
}

.caret {
    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid white;

    transition: all 0.3s ease 0s;
}
.caret__rotate {
    transform: rotate(180deg);
}

.wrap {
    position: relative;
    min-height: 100%;
    margin: 0 auto 0 0px;
    padding-left: 40px;

    display: grid;
    grid-template-columns: auto 1fr 33.018vw;
    grid-template-rows: 27px repeat(2, min-content);
}
.bfw {
    width: 70vw;
    position: absolute;
    top: 4.427vw;
    left: 0;
    z-index: -1;
}
.bfw img {
    width: 100%;
    height: 100%;
}

.left-side-decor {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    
    display: grid;
    grid-template-rows: auto 106px 1fr;
    gap: 40px;

    
    grid-row: 1 / -1;
}

.left-side-decor__line {
    opacity: 0.5;
}

.line {
    border: 1px solid var(--main-color);
    width: 1px;
}

.top-line {
    height: 15vw;
}

.bottom-line {
    height: 100%;
}

.left-side-decor__data {
    transform: rotate(-90deg);
    margin: -6.52px;
    display: flex;
    align-items: start;
}

.data {
}

.data__value {
    font-size: 18px;
    margin: 0 23px 0 0;
}
.data__hor-line {
    display: none;
}

.bold {
}

.data__arrows {
    
}

.data__arrows:first-of-type {
    margin: 0 20px 0 0;
}
/* ---------------------------------------------------------------------------- */
.main {
}

.main-wrap {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}

.main-title-block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: fit-content;
}

.mtb__tag {
    color: var(--third-color);
    margin: 6.927vw 0 0 0;
}

.mtb__title {
    margin: 16px 0 0 0;
}

.title {
    font-family: var(--second-family);
    font-size: 4em;
}

.main__about {
    margin-top: 4.444em;
    
    display: flex;
    gap: 2.666em;
}

.about {
}

.about__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.about__icon {
    width: 44px;
}

.about__text {
    opacity: 0.74;
}

.new-line-text {
    display: block;
}

.sup__text {
    
}

.about__line {
    opacity: 0.4;
}

.main__buy-tickets {
    display: flex;
    flex-direction: row;

    margin-top: 6.25vw;

    width: 21.198vw;
    min-width: 274px;

    height: 8.611vh;
    max-height: 93px;
    min-height: 68px;
}

.main__buy-tickets:hover .buy-tickets__text {
    color: var(--third-color);
}

.main__buy-tickets * {
   min-height: 100%;
}

.buy-tickets {
    
}

.buy-tickets__text {
    width: 73.71%;

    background-color: var(--main-color);
    color: var(--second-color);

    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-tickets__arrow {
    background-color: var(--third-color);
    width: 26.289%;
    text-align: center;
    vertical-align: middle;
}
.buy-tickets__arrow img {
    width: 42.056%;
}

.right-side-decor {
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}

.right-side-decor__wrap {
    height: 100%;
    position: relative;

    display: grid;
    grid-template-rows: 36px 1fr;
    grid-template-columns: 1fr;
}

.right-side-decor__frame {
    height: 46.758vw;
    position: relative;
    grid-row: 1 / 3;
}

.right-side-decor__photo {
    height: 100%;
    width: 45.086vw;

    position: absolute;
    right: 0;
    z-index: 1;
    grid-row: 2 / 3;
}

.right-side-decor__photo-switch {
    width: 43.469px;

    position: absolute;
    z-index: 2;
    bottom: 5.1%;
    right: 12.4%;
    
}

.photo-switch__item {
    height: 20px;
    width: 10px;

    border: none;
    color: transparent;
    background-color: transparent;
}

.photo-switch__item:first-of-type {
    margin-right: 20px;
}

.photo-switch__item img {
    max-width: 100%;
    height: 100%;
    color: var(--main-color);
    transition: 380ms;
}

.photo-switch__item svg:hover {
    transform: scale(1.2);
    color: var(--third-color);
    cursor: pointer;
}

.footer {
    width: fit-content;
    margin: 7.188vw 0 2.5vw 0;
}

.footer__social-links {
    display: flex;
    align-items: center;
    gap: 29px;
}

.social-links {
    
}
.social-links__item {
    width: fit-content;
}

.social-links__item svg {
    max-width: 100%;
    height: auto;
    opacity: 0.32;
    transition: 380ms;
}

.social-links__item svg:hover {
    opacity: 1;
    color: var(--third-color);
    transform: scale(1.2);
}

@media screen and (max-width: 1900px) {
  .mtb__tag {
    margin-top: 5.833vw;
  }
  .bfw {
    width: 69.6vw;
  }
}
@media screen and (max-width: 1800px) {
    .footer {
        margin-bottom: 2vw;
    }
}
@media screen and (max-width: 1700px) {
    .main__about {
        gap: 2em;
    }
    .title {
        font-size: 3.5em;
    }
    .footer {
        margin-bottom: 1.294vw;
    }
    .bfw {
        /* left: -2.6vw; */
        top: 4.8vw;
    }
}
@media screen and (max-width: 1600px) {
    body {
        font-size: 1em;
    }
    .footer {
        margin-top: 6.125vw;
    }
}
@media screen and (max-width: 1500px) {
    .main__about {
        margin-top: 3em;
        flex-flow: column nowrap;
        gap: 40px;
    }
    .about__line {
       display: none;
    }
    .bfw {
        /* left: -3.3vw; */
        top: 5.4vw;
    }
    
    .right-side-decor {
        grid-row: 3 / 4;
    }
    .main-title-block {
        grid-column: 2 / 4;
    }

    .mtb__tag {
        margin-top: 37px;
    }
    .main__about {
        margin-top: 6px;
    }
    .mtb__title {
        margin-bottom: 74px;
    }
}
@media screen and (min-width: 1299px) {
    .footer-mobile, .mobile-lang-switch, .nav__mobile-separator {
        display: none;
    }
}
@media screen and (max-width: 1299px) {
    body.mobile-lock {
        overflow: hidden;
    }

    .wrap {
        overflow-x: hidden;
    }
 
    .right-side-decor__photo, .right-side-decor__frame {
        width: 52vw;
    }

    .right-side-decor__frame {
        height: 100%;
        right: max(-5%, -30px); 
    }

    .right-side-decor__photo {
        right: max(-22%, -93px); 
    }

    .footer-mobile, .mobile-lang-switch {
        margin: 0px;
        z-index: 4;
    }

    .mobile-lang-switch__button {
        transition: opacity 0.3s ease 0s;
    }

    .mobile-lang-switch__separator {
        opacity: 0.64;
    }

    .mobile-lang-switch__button.current-language-mobile {
        opacity: 1;
    }

    .lang-switch {
        display: none;
    }

    .header__logo {
        z-index: 4;
    }

    .header {
        justify-content: start;
    }

    .menu__mobile-lang-switch {
        margin-left: auto;
        margin-right: 47.66px;
    }

    .header__menu {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(-21deg, #654EA3 25%, #5F4B8B 100%) 87%;
        padding: 160px 30px 30px 30px;
        transition: left 0.3s ease 0s;

        overflow: auto;
    }
    .header__menu.active-mobile {
        left: 0%;
    }

    .menu__wrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        gap: 120px;
    }

    .nav__mobile-separator {
        height: 1px;
        background-color: white;
        width: 100%;
        opacity: 0.16;
    }

    .menu__nav {
        width: 100%;
        gap: 40px;
        flex-flow: column nowrap;
    }

    .menu__nav a {
        font-family: var(--second-family);
        font-size: 3.5em;
    }

    .current-page::after {
        display: none;
    }

    .header__menu .footer, .nav__mobile-separator {
        display: block;
    }

    .menu__toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: transparent;
    } 
    .menu__toggler-wrap {
        z-index: 5;
        position: relative;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
    }
    .menu__toggler-wrap::after, .menu__toggler-wrap::before, .menu__toggler-wrap span {
        height: 3px;
        display: block;
        border-radius: 3px;
        
        left: 0;
        margin-bottom: 4px;

        transition: all 0.3s ease 0s;

        background-color: #ffffff;
    }
    .menu__toggler-wrap::after, .menu__toggler-wrap::before {
        content: '';
        width: 28px;
    }
    .menu__toggler-wrap::after {
      margin: 0;
    }
    .menu__toggler-wrap span {
        width: 19.38px;
        margin-left: auto;
    }
    .bfw {
        left: -1.6vw;
    }
    .mobile-bfw {
        width: 122vw;
        top: 180px;
        left: -6.0vw;
    }
    .title {
        font-size: 3em;
    }

    /* Left decor element */
    .left-side-decor {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        position: relative;
    }
    .left-side-decor__data {
        transform: none;

        align-self: self-end;

        width: max-content;

        align-items: center;
        gap: 16px;

        opacity: 0.5;

        position: absolute;
        right: -75px;

        margin: 24px 0;
    }
    .data__hor-line {
        display: block;
        width: 100px;
        background-color: white;
        height: 1px;
    }

    .top-line, .data__arrows, .bottom-line {
        display: none;
    }
    .data__value {
        margin: 0;
    }
    .data__value span:first-child {
        margin-right: 10px;
    }
    .data__value span:last-child {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1164px) {
    .bfw:not(.mobile-bfw) {
        width: 100%;
    }
}
@media screen and (max-width: 930px) {
    
}
@media screen and (max-width: 799px) {
    .bfw {
        width: 119.792vw;
        object-fit: cover;
    }
    .bfw:not(.mobile-bfw) {
        top: 3vw;
    }
}